.container__author{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: #f9f9f9; // Đổi màu nền để dễ nhìn hơn, #1e90ff quá chói
    .container__author__post{
        width: 80%;
        margin:0 auto;
        display: flex;
        flex-direction: row;
        .author__info{
            margin: 20px;
        }
        .posts__info{
            flex: 1;
        }
    }
}