$width-percentage: 100%;
$primary-color: #007bff;
$hover-color: #0056b3;
$border-color: #ccc;
$text-color: #333;
$background-color: #fff;
$shadow-color: rgba(0, 0, 0, 0.15);
$selected-color: #e6f0ff;

html,
body{
  margin: 0;
}
*{
  padding: 0;
  margin: 0;
}
// Container chính
.master_layout {
  background-color: $background-color;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh; // Chiều cao tối thiểu full màn hình
  align-items: center; // Căn giữa ngang
  .content,.footer{
    width: $width-percentage;
  }
}

.header {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%); // Căn giữa ngang
  background-color: #f8f9fa;
  padding: 10px 30px;
  z-index: 1000;
}

.content {
  flex: 1; // Chiếm không gian còn lại
  margin-top: 70px; // Khoảng cách bằng chiều cao header (padding 20px + nội dung)
}

.footer {
  background-color: #dee2e6;
  margin-top: auto; // Đẩy xuống dưới nếu body rỗng
}
