$width-percentage: 80%;

// Container chính
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // Chiều cao tối thiểu full màn hình
  align-items: center; // Căn giữa ngang

  .header,
  .body,
  .footer {
    width: $width-percentage;
  }
}

// Header cố định ở trên
.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%); // Căn giữa ngang
  background-color: #f8f9fa;
  padding: 20px;
  z-index: 1000;
}

// Body linh hoạt
.body {

  flex: 1; // Chiếm không gian còn lại
  background-color: #e9ecef;
  padding-top: 200px;
  margin-top: 60px; // Khoảng cách bằng chiều cao header (padding 20px + nội dung)
}

// Footer luôn ở dưới
.footer {
  background-color: #dee2e6;
  padding: 20px;
  margin-top: auto; // Đẩy xuống dưới nếu body rỗng
}

